$white: #ffffff;
$light: #fafafa;
$gray: #f8f8f8;
$darkGray: #e9e9e9;
$dark: #a7a7a7;
$darker: #696969;
$blackish: #464646;
$black: #000;
$blue: #3B78E7;
$lightBlue: #82A9F0;
$somaGreen: rgb(185, 231, 57);

$red: #ff3333;
$darkRed: #cc3333;
$lightRed: #ff6666;

$purple: #6d72c4;
$lightPurple: #a37aa2;
$darkGreen: #73886e;
$orange: #ef9820;




