@import '../../styles/color.scss';

$height: 48px;

.wrapper {

  background-color: white;
  height: 60px;
  display: flex;

  font-size: 20px;
  font-weight: bold;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .geoLocation {
    width: 70%;
    border-bottom: 3px solid $red;
    text-align: center;

    span {
      color: $red;
    }
  }

  .logo {
    width: 30%;
    color: $gray;
  }

}
