@import '../../styles/color.scss';

.wrapper {

  width: 100%;
  padding: 10px 5px;

  .textarea {
    width: 100%;
    height: 192px;
    padding: 10px 7px;
    resize: none;
    outline: none;
    border: 2px solid pink;
    border-radius: 3px;
  }
}
