@import '../../styles/color.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, $red, $purplesmooth); /* Standard syntax (must be last) */
  color: white;

  .logoContainer {
    margin-bottom: 20px;

    .logo {
      font-weight: bold;
      font-size: 72px;
      text-align: center;
    }

    .subtitle {
      font-weight: bold;
      font-size: 26px;
      text-align: center;

      i {
        margin-right: 5px; 
      }
    }
  }

  .btnContainer {
    background-color: white;
    width: 238px;
    height: 55px;
    margin: 110px;

    .button {
      background-color: white;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: $red;
      font-weight: bold;
      font-size: 20px;
    }

    .button.disabled {
      opacity: 0.5;
      background-color: gray;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: $black;
      font-weight: bold;
      font-size: 20px;
    }
  }




}
