@import '../../styles/color.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(left top, $red, $purplesmooth); 
  background: -o-linear-gradient(bottom right, $red, $purplesmooth);
  background: -moz-linear-gradient(bottom right, $red, $purplesmooth);
  background: linear-gradient(to bottom right, $red, $purplesmooth); /* Standard syntax (must be last) */
  color: white;

  .logoContainer {
    margin-bottom: 20px;

    .logo {
      font-weight: bold;
      font-size: 72px;
      text-align: center;
    }

    .subtitle {
      font-weight: bold;
      font-size: 26px;
      text-align: center;

      i {
        margin-right: 5px;
      }
    }
  }

  .btnContainer {
    background-color: white;
    width: 238px;
    height: 55px;

    .button {
      background-color: white;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: $red;
    }

    .button.disabled {
      opacity: 0.5;
    }
  }


}
